# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.deps
*.log

# AutoMake Makefiles
Makefile
Makefile.in
*.scan
*/autom4te.cache

# For macos
.DS_Store

# Added by Shuanglong
**/build/**
**/logs/**
**/outdir/**

**/__debug_bin
